body {
  max-width: 1000px;
}
#container {
  display: flex;
  position: relative;
}
#functionsContainer {
  display: block;
  margin: auto;
}
#functionContainer {
  text-align: center;
  margin: 30px 0;
}
button  {
  margin: 0 5px;
}